body {
  background-color:#F5F5F5;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

rect {
  fill: #ec0101;
}

rect:hover {
  fill: #cd0a0a;
}

circle {
  stroke: black;
  stroke-width: 1px;
  fill: #ec0101;
}

circle:hover {
  fill: black;
}

#drop {
  display: flex;
  margin-right: 20px;
}

#drop-2 {
  display: flex;
}

.row {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
text {
  font-size: 13px;
}

.y-label {
 font-size: 18px;
 font-weight: bold;
}

.x-label {
  font-size: 18px;
  font-weight: bold;
}
.tooltip {
  position: absolute;
  text-align: left;
  padding: .5rem;
  background: #FFFFFF;
  border: 1px solid #313639;
  border-radius: 3px;
  pointer-events: none;
  font-size: 16px;
}